body{
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}
h2{
  font-weight: bold;
  
}

.review{
    width: 500px;
    height: 400px;
}
.form-control{
  /* resize: none; */
  height: 100px;
}
.navbar {
  background-color: #E6A3B0;
}

.navbar .navbar-brand{
  color:#fff;
}

.navbar .navbar-brand:hover {
  color: #9462a9;
}

.navbar_icon{
  display: flex;
  flex-direction: row;
}

.d-flex a{
  color: #fff;
  margin: 10px;
}

.d-flex a:hover{
  color:#9462a9;
}

img{
margin: 10px;
height: 30px;
width: 30px;
border-radius:45%;
}

.col-md-8{
background-color: rgba(245, 244, 240, 0.5);
padding: 30px;
}

.card{
background-color: rgba(245, 244, 240, 0.5);
padding: 10px;
margin: 10px;
font-size: 1.2rem;
}

body{
background-attachment: fixed;
background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}

.po{
overflow:hidden
}